:root {
    --color-azul-:hsl(215, 35%, 77%);
    --color-verde-claro: hsl(136, 44%, 55%);
    --color-verde-medio: hsl(142, 54%, 34%);
    --color-verde-oscuro: hsl(153, 79%, 24%);
    --color-blanco-secundario-:hsl(0, 0%, 100%); 
    --color-negro-secundario-:hsl(0, 0%, 0%); 
}
@font-face {
   /*  Titulos y botones: */
    font-family: "Agalega";
    src: url(./tipografias/AGALEGA-Regular.ttf);
}
@font-face {

    /* Textos: */
    font-family: "Prompt";
    src: url(./tipografias/Prompt-Light.ttf);
}

body{
    padding: 0;
    margin: 0;
}
.linea-{
    background-color: var(--color-verde-claro);
}
.linea{
    font-family: Agalega;
    background-color: var(--color-azul-);
}
.icono{
    background-color: var(--color-blanco-secundario-);
    border-radius: 5px;
}
.icono:hover{
    background-color: #48515e;
}
.titulos{
    color: var(--color-verde-oscuro);
    font-family: Agalega;
    font-size: 12pt;
}
.titulo-juego{
    font-family: Agalega;
    font-size: 12pt;
    color: var(--color-verde-claro);
}
.titulo{
    color: var(--color-verde-oscuro);
    font-family: Agalega;
    font-size: 12pt;
}
.titulo-lineas{
    color: var(--color-verde-oscuro);
    font-size: 18pt;
}
.subtitulos{
    color: var(--color-verde-claro);
    text-align: justify;
    font-family: Agalega;
    font-size: 12pt;
}
.textos{
    color: var(--color-negro-secundario-);
    font-family: Prompt;
    text-align: justify;
    font-size: 12pt;
}
.art{
    font-family: Prompt;
    color: var(--color-verde-oscuro);
    text-align: justify;
    font-size: 12pt;
    font-weight: bolder;
}
.modal-title{
    font-family: Agalega;
    color: var(--color-verde-oscuro);
}

.header{
    background-color: var(--color-negro-secundario-);
}

.btn-header{
    background-color: var(--color-negro-secundario-);
    color: var(--color-blanco-secundario-);
    font-size: 8pt;
    font-family: Agalega;
}
.btn-header:hover{
    background-color: var(--color-beige-dominante-);
    color: var(--color-azul-);
}

.btn-j{
    position: relative;
    background-color:var(--color-negro-secundario-);
    color: var(--color-blanco-secundario-);
    font-size: 10pt;
    font-family: Agalega;
    cursor:pointer;
    user-select:none;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .btn-j:hover {
    transition-duration: 0.1s;
    background-color: #48515e;
    color: var(--color-blanco-secundario-);
    border: 1px solid var(--color-negro-secundario-);
  }
  
  .btn-j:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px var(--color-verde-oscuro);
    border: 1px solid var(--color-negro-secundario-);
  }
  
  .btn-j:active:after {
    box-shadow: 0 0 0 0 var(--color-verde-medio);
    position: absolute;
    border: 1px solid var(--color-negro-secundario-);
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }

.fondo{
  background-color: hsl(136, 44%, 55%);
  border-radius: 0 0 25rem 25rem ;
}
.fondo-3{
    background-color: hsl(142, 54%, 34%);
    border-radius: 0 0 25rem 25rem ;
}
.fondo2{
    background-color: var(--color-verde-claro);
}
.footer{
    background-color: var(--color-negro-secundario-);
}
.icons-footer{
    transition: all 0.08s ease;
}
.icons-footer:hover{
    filter: opacity(50%);
}
.emails{
    font-family: Agalega;
    color: var(--color-blanco-secundario-);
    font-size: 12pt;
}
.emails:hover{
    color: var(--color-verde-oscuro);
    text-decoration: none;
    cursor: pointer;
}
.form-footer{
    background-color: var(--color-verde-claro);
    border-radius: 12px;
}
.img-contenedor{
    transition:all .9s ease;
}
.img-contenedor:hover{
    transform:scale(1.20);
    cursor: pointer;
}
.img-vym{
    transition: transform .7s ease-in-out;
}
.img-vym:hover{
    transform: rotate(360deg);
    cursor: pointer;
}
.modal-body{
    background-color: var(--color-verde-claro);
}
.card{
    background: var(--color-negro-secundario-);
}
.card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.card .face.face1{
    position: relative;
    background: var(--color-verde-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    cursor: pointer;
}

 .card:hover .face.face1{
    background: var(--color-verde-claro);
    transform: translateY(0);
}

.card .face.face1 .content{
    transition: 0.5s;
}

.card:hover .face.face1 .content{
    opacity: 1;
}

.card .face.face2{
    background: var(--color-blanco-secundario-);
    box-shadow: 0 20px 50px var(--color-negro-secundario-);
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(0);
}

.product-image:hover {
    transform: translate(0, -1rem);
    transition: transform 500ms;
    cursor: pointer;
}